@import "bootstrap/scss/bootstrap";

/* Custom Navbar Styles */
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-collapse {
  margin-left: 8rem;
}

.nav-link {
  margin-left: 1.5rem;
  font-weight: bold;
}

/* Light Mode Dropdown Styles */
.light-dropdown {
  background-color: #fff;
  color: #000;
}

.light-dropdown .dropdown-item {
  background-color: #fff;
  color: #000;
}

/* Dark Mode Dropdown Styles */
.dark-dropdown {
  background-color: #000;
  color: #fff;
}

.dark-dropdown .dropdown-item {
  background-color: #000;
  color: #fff;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

/* Light Mode Modal Styles */
.light-modal .modal-content {
  background-color: #fff;
  color: rgb(47, 46, 46);
}

/* Dark Mode Modal Styles */
.dark-modal .modal-content {
  background-color: rgb(47, 46, 46);
  color: #fff;
}
